<div class="input{{#if mode}} input-{{mode}}{{/if}} {{#if invalid}} invalid{{/if}}">
    <input class="input__field" type={{type}} name={{name}} id={{name}} placeholder="" value={{value}} autocomplete="false" {{#if disabled}}disabled{{/if}}>
    <label class="input__label" for={{name}}>{{label}}</label>
    <div class="input__validate">{{#if validateMessage}}{{validateMessage}}{{/if}}</div>
</div>
